# Production & Docker Environment Variables
DATABASE_URL=postgres://locket_admin:SuperSecretPass123@localhost:5432/locket_db
REDIS_URL=redis://:RedisSecretPass123@localhost:6379

# Supabase Credentials (Optional Fallback)
NEXT_PUBLIC_SUPABASE_URL=https://zrvoevcwnrdegbwzaexc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_q5ipNkes5jd0i6ijlHebDg_R8uPzwST
